<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.7.13/dist/vue.js"></script>
  </head>
  <body>
    <div id="app">
      email: <input type="checkbox" id="email" v-model="email" /> {{email}}

      <hr />

      banana <input type="checkbox" v-model="fruits" value="banana" /> <br />
      orange <input type="checkbox" v-model="fruits" value="orange" /> <br />
      apple <input type="checkbox" v-model="fruits" value="apple" /> <br />
      <p>선택된 과일: {{fruits}}</p>
    </div>

    <script>
      var vm = new Vue({
        el: "#app",
        data: {
          email: false,
          fruits: [],
        },
      });
    </script>
  </body>
</html>
