<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.7.13/dist/vue.js"></script>
  </head>
  <body>
    <div id="app">
      <h1>v-for 연습</h1>
      <ul>
        <li v-for="i in 5">{{i}} * {{5 }} = {{i*5}}</li>
      </ul>

      <ul>
        <li v-for="book in books">I LIKE "{{book}}".</li>
      </ul>

      <ul>
        <li v-for="(value,key,index) in story">{{index}}. {{key}} : {{value}}</li>
      </ul>

      <ul>
        <li v-for="(story,index) in stories" :id="index+1">
          {{index+1}}. {{story.writer}}:{{story.name}}
        </li>
      </ul>
    </div>
    <script>
      var vm = new Vue({
        el: "#app",
        data: {
          name: "장정민",

          books: ["햄릿", "콩쥐 팥쥐", "누가 내치즈를 옮겼을까"],

          story: {
            author: "세익스피어",
            title: "tempest",
            publisher: "green house",
          },

          stories: [
            {
              writer: "james lee",
              name: "good job",
            },
            {
              writer: "billy jones",
              name: "how are you, today?",
            },
            {
              writer: "david min",
              name: "farewell to arms",
            },
          ],
        },
      });
    </script>
  </body>
</html>
