<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>dada's</title>
    <link rel="stylesheet" href="css/shop.css" />
    <!-- <style type="text/css">
      @import url("css/shops.css");
    </style> -->
    <script src="https://cdn.jsdelivr.net/npm/vue@2.7.13/dist/vue.js"></script>
  </head>
  <body>
    <div class="nav-bar"></div>
    <div id="app">
      <div class="product">
        <div class="product-image">
          <img :src="image" alt="상품이미지" />
          <!-- 1. 상품 이미지 넣기-->
        </div>

        <div class="product-info">
          <h1>{{product}}</h1>
          <!--  2. 상품명 -->

          <!-- 3. inStock 값에 따라 화면에 'In Stock' OR 'Out of Stock' 표시-->
          <p v-if="inStock">In Stock!!</p>
          <p v-else>Out of Stock</p>
          <!-- 4. onSale 값에 따라 화면에 'On Sale!' 표시-->
          <span v-if="onSale">On sale!</span>
          <span v-else></span>

          <!--  5. 상품설명 -->
          <p>{{description}}</p>

          <ul>
            <!--  6. 상품 상세 설명 -->
            <li v-for="detail in details">{{detail}}</li>
          </ul>

          <!--  7. color-box -->
          <div
            v-for="option in options"
            :key="option.optionId"
            class="color-box"
            :style="{backgroundColor: option.optionColor, 
				display:'inline-block', margin:'10px'}"
            @mouseover="updateProduct(option.optionImage)"
          ></div>
          <hr />
          <!--  8. button event 처리  -->
          <button v-on:click="addToCart">Add</button>
          <button v-on:click="removeFromCart">Remove</button>

          <div class="cart">
            <!-- 9.카트안의 상품 갯수 표시-->
            <p>Cart({{cart}})</p>
          </div>
        </div>
      </div>
    </div>

    <script>
      var app = new Vue({
        el: "#app",
        data: {
          product: "Dadas Blouse",
          image: "img/blueBlouse.jpg",
          inStock: true,
          max: 10,
          onSale: true,
          description: "올봄 잇아이템",

          details: ["80% cotton", "20% polyester", "Gender-neutral"],
          options: [
            {
              optionId: 2234,
              optionColor: "violet",
              optionImage: "img/violetBlouse.jpg",
            },
            {
              optionId: 2235,
              optionColor: "blue",
              optionImage: "img/blueBlouse.jpg",
            },
          ],

          cart: 0,
        },
        methods: {
          addToCart() {
            if (this.max > 0) {
              this.max--;
              this.cart++;
            } else {
              alert("재고 부족");
            }
          },

          updateProduct(optionImage) {
            this.image = optionImage;
          },

          removeFromCart() {
            if (this.cart > 0) {
              this.cart--;
              this.max++;
            } else {
              alert("cart가 비었습니다. ");
            }
          },
        },
      });
    </script>
  </body>
</html>
